body {
    background-color: rgb(0, 171, 114);
    text-align: center;
    vertical-align: middle;
    
}

h1 {
    padding-top: 60px;
    color: rgb(255, 119, 85);
    font-family: Impact;
    font-size: 200px;
    text-shadow: 10px 10px 0px rgb(255, 255, 255),
                -10px -10px 0px rgb(255, 255, 255),
                -10px 10px 0px rgb(255, 255, 255),
                10px -10px 0px rgb(255, 255, 255);
}

h2 {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif, bold;
    font-size: 75px;
    border-color: rgb(255, 255, 255);
    margin-top: -150px;
    text-decoration-line: line-through;
}

form {
    display: block;
    scale: 2;
    align-content: center;
}

#search {
    padding-top: 1%;
  
}

#button {
    width: 10%;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid rgb(255, 113, 52);
    background-color: rgb(0, 69, 39);
    color: white;
    cursor: pointer;
}

#search_input {
    width: 30%;
    height: 50px;
    font-size: 40px;
    border-radius: 5px;
    border: 2px solid rgb(255, 113, 52);
}